<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>text anazying website</title>
</head>
<body>
<h1>welcome to text analyzer.enter your text here</h1>
<form action="analyze" method="GET">
    <textarea name='text' style="margin: 0px; width: 608px; height: 257px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="fullcaps">CAPTALIZE<br>
    <input type="checkbox" name="new line remover">New line remover<br>
    <input type="checkbox" name="space remover">Space Remover<br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>